@import url("https://fonts.googleapis.com/css?family=Imprima:700|Imprima:400");

body p, body ul, body a{
  font-family: "Imprima";
  font-weight: 400;
  /* font-size: 1.2rem; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Imprima";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fbebb5;
}

body {
  max-width: 1800px;
  margin: 0 auto;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.hambuger {
  display: block;
  /* position: absolute;
  top: 1rem;
  right: 1rem; */
  cursor: pointer;
  z-index: 3;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: black;
}

.hambuger.active .bar:nth-child(2) {
  opacity: 0;
}

.hambuger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hambuger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-bar {
  display: flex;
  padding: 10rem 0;
  position: fixed;
  right: -100%;
  top: 0;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  transition: 0.3s;
  border: 1px solid black;
  background-color: rgba(219, 212, 212, 0.73);
  z-index: 2;
}

.nav-bar li {
  list-style: none; 
  padding: 10px;
}

.nav-bar li a {
  text-decoration: none;
  color: black;
}

.nav-bar.active {
  right: 0;
}

.contain-hero {
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

.welcome {
  text-align: center;
}

.welcome h1 {
  padding: 1rem;
}

.welcome a {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  text-decoration: none;
  color: #000;
}

.welcome-img img {
  width: 100%;
}

.welcome-img {
  margin-top: 7rem;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* second section  Home Page */

.display-1 {
  display: flex;
  flex-direction: column;
}

.display-1 p,
h3 {
  font-size: medium;
}

.table img,
.chair img {
  width: 100%;
}

.table,
.chair {
  text-align: center;
  font-size: 1.3rem;
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #fff9e5;
}

.blog-1 img {
  padding: .5rem 1rem;
  width: 100%;
}

.blog p {
  width: 100%;
  padding: .5rem 1rem;
}

.blog-1 a {
  color: #000;
}

.shoutout,
.weather {
  text-align: center;
  padding: 10px;
  margin: 4rem 0;
}

.shoutout p {
  padding: 1rem;
}

.shoutout a {
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: purple;
}

.rental-summary h3, .rental-summary h4, .rental-summary p {
  text-align: center;
  padding: 1rem;
}

.rental-summary {
  background-color: #fff9e5;
  /* padding: 1rem; */
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rental-summary ul {
  padding: 1.5rem;
}

.popup {
  position: relative;
  position: absolute;
  height: 50px;
  width: 250px;
  background-color: white;
  animation: slideInFromLeft 0.8s ease forwards;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #8f7210;
  left: 1rem;
}
.popup-msg {
  padding-left: 1rem;
}

.cancel {
  position: absolute;
  right: 0.8rem;
  top: 15px;
  cursor: pointer;
  font-size: smaller;
  z-index: 5;
}

.popup.click {
  animation: slideBack 0.3s ease forwards;
}

/* Rental Page */

.rentals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin: 0;
  text-align: center;
}

.rentals img {
  transform: scaleX(-1);
}

.showcase h4,
.showcase p {
  text-align: center;
}

.showcase img {
  width: 100%;
  height: 200px;
  object-fit: contain; /* Cover the container fully */
}

.rental-hero img {
  height: 25vh;
  width: 100%;
  /* border: 1px solid black; */
}

/* Table Section */
table {
  width: 100%;
  padding: 1rem;
}

th,
td {
  padding: 1rem;
  /* border: 1px solid black; */
}

tr:nth-of-type(2n) {
  background-color: #835d5d3b;
}

.prices {
  margin-top: 1.5rem;
}

/* Reservation Page */

.herodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

  background-color: var(--main-color);
}

.reservations-main {
  padding: 1rem;
}

.reservations-main p {
  padding: 7px;
}

.reservations-main h3 {
  text-align: center;
  padding: 0.8rem 0;
}

.agreement {
  padding: 0 2em;
  padding-bottom: 1rem;
}

.agreement li {
  padding: 0.5rem;
}

.content {
  border-radius: 0.5rem;
}

.reserve.contactus-form {
  margin: 0 auto;
}

.drive-in img {
  width: 80%;
  animation: slideInFromLeft 1s ease-in;
}

.drive-in {
  text-align: center;
}

/* Contact Us page */
.contact-hero {
  display: grid;
  height: 20vh;
}

.contact-hero h2,
.contact-hero img {
  grid-row: 1/2;
  grid-column: 1/2;
}

.contact-hero img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.contact-hero h2 {
  align-self: center;
  justify-self: center;
  color: white;
  z-index: 3;
}

.contact-message {
  text-align: center;
  margin: 0 auto;
}

.contact-message h2 {
  line-height: 54px;
  font-weight: 600;
}

.contact-message p {
  padding: 1rem;
}

.formaddress {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  justify-content: center;
  flex-direction: column-reverse;
}

.contactus-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.contactus-form input,
.contactus-form textarea,
.contactus-form select {
  /* border: 1px solid black; */
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 10px;
  border: solid #9f9f9f;
  padding: 1.3rem;
}

#submit {
  width: 237px;
  height: 48px;
  border-radius: 15px 0px 0px 0px;
  border: 1px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  margin-top: 1rem;
}

.address ul {
  list-style: none;
}

.info-bar {
  display: flex;
  background-color: #faf4f4;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.info-bar .info {
  height: 100px;
  padding: 1rem 0;
}

.info-bar p {
  padding: 0.5rem 0;
}

.contact-main {
  padding: 1rem;
}

.contact-main ul {
  padding: 1rem;
}

/* I FRAME */

iframe {
  width: 100%;
  padding: 1rem 1rem;
}

.iframe h3 {
  text-align: center;
  padding: 1rem;
}

/* Footer section */

footer {
  background-color: #000;
}

.project {
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.links {
  display: flex;
  flex-direction: row;
}

.links a {
  color: white;
  padding: .5rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.footer img {
  width: 50px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
}

hr {
  width: 80%;
  margin: 0 auto;
}

.copyright {
  color: white;
  text-align: center;
  padding: 2rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideBack {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 650px) {
  td {
    display: block;
  }

  th {
    display: none;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}
