@media screen and (min-width: 1000px) {
  
  .welcome {
    font-size: xx-large;
    top: 30rem;
    left: 2rem;
  }

  .welcome-img {
    margin-top: 0;
    /* border: 1px solid black; */
  }

  .welcome-img img {
    width: 65%;
    /* transform: scaleX(-1); */
  }
}